{% comment %}
  Variant List Row

  Accepts:
  - variant: {Object} Variant object
  - product: {Object} Product object
  - show_image: {Boolean} Show variant image
  - show_sku: {Boolean} Show variant SKU

  Usage:
  {% render 'quick-order-list-row', variant: variant, product: product, show_image: true, show_sku: true %}
{% endcomment %}

{% # theme-check-disable %}
{% assign cart_qty = cart | item_count_for_variant: variant.id %}
{% # theme-check-enable %}

{% comment %} Only show variants that are in stock {% endcomment %}
{% if variant.inventory_quantity > 0 and variant.available %}
<tr
  class="variant-item{% unless show_image %} variant-item--no-media{% endunless %}{% if variant.available and variant.unit_price_measurement %} variant-item--unit-price{% endif %}"
  id="Variant-{{ variant.id }}"
  data-variant-id="{{ variant.id }}"
  data-cart-qty="{{ cart_qty }}"
>
  <td class="variant-item__inner{% unless variant.sku and show_sku %} variant-item__inner--no-sku{% endunless %}">
    {%- if show_image -%}
      <div class="variant-item__media">
        <div class="variant-item__image-container global-media-settings{% unless is_modal %} gradient{% endunless %}{% unless variant.image %} variant-item__image-container--no-img{% endunless %}">
          {% if variant.image %}
            {%- assign img_height = 43 | divided_by: variant.image.aspect_ratio | ceil -%}
            {{
              variant.image
              | image_url: width: 86
              | image_tag:
                loading: 'lazy',
                fetchpriority: 'low',
                decoding: 'async',
                class: 'variant-item__image',
                width: 43,
                height: img_height,
                widths: '86',
                alt: variant.image.alt
              | escape
            }}
          {% endif %}
        </div>
      </div>
    {%- endif -%}
    <div class="small-hide medium-hide">
      <span class="variant-item__name h4 break">{{ variant.title | escape }}</span>
      {%- if show_sku and variant.sku != blank -%}
        <span class="variant-item__sku break">{{ variant.sku | escape }}</span>
      {%- endif -%}
      
      <!-- Inventory Status: Only show if in stock -->
      {% if variant.inventory_quantity > 0 and variant.available %}
        {% if variant.inventory_quantity <= 10 %}
          <p class="quick-order__inventory">
            <span class="svg-wrapper">
              <svg width="15" height="15" fill="#FF8C00" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="12" />
              </svg>
            </span> 
            Low Stock ({{ variant.inventory_quantity }} left)
          </p>
        {% else %}
          <p class="quick-order__inventory">
            <span class="svg-wrapper">
              <svg width="15" height="15" fill="#4CAF50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <circle cx="12" cy="12" r="12" />
              </svg>
            </span> 
            In Stock
          </p>
        {% endif %}
      {% endif %}
    </div>
  </td>

  <td class="variant-item__quantity">
    {%- liquid
      assign check_against_inventory = true
      if variant.inventory_management != 'shopify' or variant.inventory_policy == 'continue'
        assign check_against_inventory = false
      endif
      if variant.quantity_rule.min > variant.inventory_quantity and check_against_inventory
        assign quantity_rule_soldout = true
      endif

      assign has_qty_rules = false
      if variant.quantity_rule.increment > 1 or variant.quantity_rule.min > 1 or variant.quantity_rule.max != null
        assign has_qty_rules = true
      endif

      assign has_vol_pricing = false
      if variant.quantity_price_breaks.size > 0
        assign has_vol_pricing = true
      endif

      assign is_available = false
      assign has_popover = false
      unless variant.available == false or quantity_rule_soldout
        assign is_available = true
      endunless
      if has_qty_rules or has_vol_pricing
        assign has_popover = true
      endif
    -%}
    <quantity-popover>
      <div class="variant-item__quantity-wrapper quantity-popover-wrapper{% unless has_popover %} variant-item__quantity-wrapper--no-info{% endunless %}">
        <label class="visually-hidden" for="Quantity-{{ variant.id }}">
          Quantity
        </label>
        <div class="quantity-popover-container{% if is_available and has_popover %} quantity-popover-container--hover{% endif %}{% if cart_qty == 0 %} quantity-popover-container--empty{% endif %}">
          {%- if has_qty_rules or has_vol_pricing -%}
            <button
              type="button"
              aria-expanded="false"
              aria-controls="quantity-popover-info-{{ variant.id }}"
              aria-label="
                {%- if has_vol_pricing -%}
                  Volume pricing information
                {%- elsif has_qty_rules -%}
                  Quantity rules information
                {%- endif -%}
              "
              class="quantity-popover__info-button quantity-popover__info-button--icon-only button button--tertiary small-hide medium-hide no-js-hidden"
            >
              {{- 'icon-info.svg' | inline_asset_content -}}
            </button>
            <div
              class="quantity-popover__info global-settings-popup"
              id="quantity-popover-info-{{ variant.id }}"
              tabindex="-1"
              hidden
            >
              <span class="quantity-popover__info-close">
                <button type="button" class="button button--tertiary">
                  {{- 'icon-close.svg' | inline_asset_content -}}
                </button>
              </span>
              {%- if has_qty_rules -%}
                <div class="quantity__rules caption">
                  {%- if variant.quantity_rule.min > 1 -%}
                    <span class="divider">
                      Minimum quantity: {{ variant.quantity_rule.min }}
                    </span>
                  {%- endif -%}
                  {%- if variant.quantity_rule.max != null -%}
                    <span class="divider">
                      Maximum quantity: {{ variant.quantity_rule.max }}
                    </span>
                  {%- endif -%}
                  {%- if variant.quantity_rule.increment > 1 -%}
                    <span class="divider">
                      Sold in multiples of {{ variant.quantity_rule.increment }}
                    </span>
                  {%- endif -%}
                </div>
              {%- endif -%}
              {%- if has_vol_pricing -%}
                {%- if variant.quantity_price_breaks.size > 0 -%}
                  <span class="volume-pricing-label caption">Volume pricing</span>
                  <volume-pricing class="parent-display">
                    <ul class="list-unstyled no-js-hidden">
                      <li>
                        <span>1+</span>
                        <span>{{ variant.price | money }}</span>
                      </li>
                      {%- for price_break in variant.quantity_price_breaks -%}
                        <li>
                          <span>{{ price_break.minimum_quantity }}+</span>
                          <span>{{ price_break.price | money }}</span>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </volume-pricing>
                {%- endif -%}
              {%- endif -%}
            </div>
          {%- endif -%}
          
          {%- if variant.available == false or quantity_rule_soldout -%}
            <span class="variant-item__sold-out">Sold out</span>
          {%- else -%}
            {% render 'quantity-input', variant: variant, min: 0 %}
          {%- endif -%}
        </div>
        
        {% if cart_qty > 0 %}
          <quick-order-list-remove-button
            id="Remove-{{ variant.id }}"
            data-index="{{ variant.id }}"
          >
            <button
              class="button button--tertiary"
              type="button"
              aria-label="Remove {{ variant.title }}"
            >
              <span class="svg-wrapper">
                {{- 'icon-remove.svg' | inline_asset_content -}}
              </span>
            </button>
          </quick-order-list-remove-button>
        {% endif %}
        
        {%- if has_popover -%}
          <button
            type="button"
            class="quantity-popover__info-button quantity-popover__info-button--icon-with-label button button--tertiary large-up-hide"
            aria-expanded="false"
          >
            {{- 'icon-info.svg' | inline_asset_content -}}
            <span>
              {%- if has_vol_pricing -%}
                Volume pricing
              {%- elsif has_qty_rules -%}
                Quantity rules
              {%- endif -%}
            </span>
          </button>
        {%- endif -%}
        
        <div
          class="variant-item__error large-up-hide"
          id="Quick-order-list-item-error-mobile-{{ variant.id }}"
          role="alert"
        >
          <small class="variant-item__error-text"></small>
          <span class="svg-wrapper">
            {{- 'icon-error.svg' | inline_asset_content -}}
          </span>
        </div>
      </div>
    </quantity-popover>
  </td>

  {%- assign item_price = variant.price | money -%}
  <td class="variant-item__price small-hide medium-hide">
    {%- if variant.compare_at_price -%}
      <dl class="price price--on-sale">
        <div class="price__container">
          <dt class="visually-hidden">Regular price</dt>
          <dd>
            <s class="price-item price-item--regular">{{ variant.compare_at_price | money }}</s>
          </dd>
          <dt class="visually-hidden">Sale price</dt>
          <dd>
            <span class="price-item price-item--sale price-item--last">{{ item_price }}</span>
          </dd>
        </div>
      </dl>
    {%- else -%}
      {%- if has_vol_pricing -%}
        <price-per-item class="no-js-hidden" id="price-per-item-{{ variant.id }}">
          <div class="price-per-item">
            {%- assign volume_pricing_array = variant.quantity_price_breaks | sort: 'minimum_quantity' -%}
            {%- if cart_qty < volume_pricing_array.last.minimum_quantity -%}
              {%- assign variant_price = variant.price | money -%}
              <span class="price-per-item--current price">
                Each: {{ variant_price }}
              </span>
            {%- else -%}
              {%- for price_break in volume_pricing_array -%}
                {%- if cart_qty >= price_break.minimum_quantity -%}
                  {%- assign price_break_price = price_break.price | money -%}
                  <span class="price-per-item--current price">
                    Each: {{ price_break_price }}
                  </span>
                  {%- break -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </div>
        </price-per-item>
      {%- else -%}
        <span class="price">
          Each: {{ item_price }}
        </span>
      {%- endif -%}
    {%- endif -%}

    {%- if variant.available and variant.unit_price_measurement -%}
      <div class="unit-price caption">
        <span class="visually-hidden">Unit price</span>
        {{ variant.unit_price | money }}
        <span aria-hidden="true">/</span>
        <span class="visually-hidden">&nbsp;per&nbsp;</span>
        {%- if variant.unit_price_measurement.reference_value != 1 -%}
          {{- variant.unit_price_measurement.reference_value -}}
        {%- endif -%}
        {{ variant.unit_price_measurement.reference_unit }}
      </div>
    {%- endif -%}
  </td>

  <td class="variant-item__totals right small-hide medium-hide">
    {%- render 'loading-spinner' -%}
    {% comment %} TODO: enable theme-check once `line_items_for` is accepted as valid filter {% endcomment %}
    {% # theme-check-disable %}
    <span class="price">{{ cart | line_items_for: variant | sum: 'original_line_price' | money }}</span>
    {% # theme-check-enable %}
  </td>
</tr>

<tr class="small-hide medium-hide hidden desktop-row-error">
  <td></td>
  <td>
    <div class="variant-item__error" id="Quick-order-list-item-error-desktop-{{ variant.id }}" role="alert">
      <small class="variant-item__error-text"></small>
      <span class="svg-wrapper">{{ 'icon-error.svg' | inline_asset_content }}</span>
    </div>
  </td>
  <td></td>
  <td></td>
</tr>
{% endif %}